.footer {
  background-color: #000;
  padding: 86px 0 20px;
  color: #fff;
}
.subTitle {
  color: #c5c5c5;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
}
.footerSocial {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}
.footerSocial li {
  display: inline-block;
  border-radius: 4px;
  background-color: #505050;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  text-align: center;
  vertical-align: top;
}
.footerSocial li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}
.footerSubscribe {
  margin-top: 40px;
}

.copyright {
  font-size: 12px;
  padding-top: 22px;
  border-top: 1px solid #333;
  margin-top: 40px;
}

.footer h4 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0 10px;
}
.footerNav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footerNav a {
  color: #c5c5c5;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 8px;
  display: block;
  line-height: 1.6em;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:before,
.css-1480iag-MuiInputBase-root-MuiInput-root:after {
  display: none;
}
